@model List<Empleado>

<h1>Session Salarios</h1>
<h2 style="color:blue">
    @ViewData["MENSAJE"]
</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th>APELLIDO</th>
            <th>OFICIO</th>
            <th>SALARIO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Empleado emp in Model)
        {
            <tr>
                <td>@emp.Apellido</td>
                <td>@emp.Oficio</td>
                <td>@emp.Salario</td>
                <a asp-controller="EmpleadosSession"
                asp-action="SessionSalarios"
                asp-route-salario="@emp.Salario">
                    Almacenar salario
                </a>
            </tr>
        }
    </tbody>
</table>