@model List<Empleado>

<h1>Session Empleados</h1>
<a asp-controller="EmpleadosSession"
   asp-action="CarritoEmpleados">
    Ver Carrito Empleados Session
</a>
<h2 style="color:blue">
    @ViewData["MENSAJE"]
</h2>
<table class="table table-warning">
    <thead>
        <tr>
            <th>APELLIDO</th>
            <th>OFICIO</th>
            <th>SALARIO</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Empleado emp in Model)
        {
            <tr>
                <td>@emp.Apellido</td>
                <td>@emp.Oficio</td>
                <td>@emp.Salario</td>
                <td>
                    <a asp-controller="EmpleadosSession"
                       asp-action="SessionEmpleados"
                       asp-route-idempleado="@emp.IdEmpleado">
                        Almacenar Empleado
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>